awscli>=1.22.11
feedgenerator>=2.0.0
feedparser>=6.0.8
python-decouple>=3.5
pytest>=6.2.5
elevate>=0.1.3
requests>=2.31.0
python-dotenv>=0.19.2
rich>=12.6.0
boto3>=1.26.151
git+https://github.com/RobertKnaus/profanity-filter@89fe2ad8c09c0743a553d7019dc9863e555a0afa#egg=profanity-filter[deep-analysis]
ntplib>=0.4.0
psutil==5.9.5